* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo {
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(./Assets/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border {
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* Box-2 */
.add-icon{
    display: flex;
    align-items: center;
}
.add-first{
    color: #CCCCCC;
    font-size: 0.8rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 4px;
}

/* Box-3 */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    
    width: 800px;
    height: 40px;
    border-radius: 4px;
}
.search-select {
    background-color: #e6e6e6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: #0F1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}
.nav-search:hover{
    border: 2px solid #febd68;
}
/* Box-4 */
.nav-lang{
    display: flex;
    align-items: center;
}
.search-select-lang{
    background-color: #0F1111;
    color: white;
    font-weight: 700;
    font-size: 0.85rem;
    border: none;
}

/* Box-5 and 6 */
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* Box-7 */
.nav-cart i {
    font-size: 30px;
}
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/*** Panel ***/
.panel
{
    height: 40px;
    display: flex;
    color: white;
    background-color: #222f3d;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}


/*** Hero Section ***/
.hero-section{
    background-image: url(./Assets/hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

a{
    text-decoration: none;
    color: #007185;
}


/*** Shop Section ***/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0 15px;
    margin-top: 1rem;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin: 1rem 0;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

/*** Footer ***/

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-top: 15px;
}
.foot-panel1:hover{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    display: block;
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 10px;
}
ul p{
    margin: 55px 0 15px;
    font-size: 1rem;
    font-weight: 700;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 1px solid #37475a;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    background-image: url(./Assets/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color: #0F1111;
    color: white;
    height: 50px;
    text-align: center;
    font-size: 0.7rem;
    padding: 15px;
}

.foot-panel4 a{
    
    color: white;
    margin: 0 10px;
}
.copyright{
    margin-top: 10px;
}

